<div class="row">

    <div class="col-md-12">

        <h2>Edit Post</h2>

        <br />

        <form method="post" action="/posts/edit">
            <fieldset>
                <legend>Post Content</legend>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="title">Title:</label>
                            <input class="form-control" id="title" name="title" type="text" value="{{viewData.post.title}}"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="body">Body:</label>
                            <textarea class="form-control" id="body" name="body" rows=15>{{viewData.post.body}}</textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="category">Category:</label>

                            {{#if viewData.categories}}
                            <select class="form-control" name="category" id="category">
                                <option value="">Select Category</option>
                                {{#each viewData.categories}}
                                <option value="{{id}}" {{#if selected}} selected {{/if}}>{{category}}</option>
                                {{/each}}
                            </select>
                            {{else}}
                            <div>No Categories</div>
                            {{/if}}

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="category">Visibility:</label>
                            <div class="checkbox">
                                <label>
                                    {{#if viewData.post.published}}
                                    <input type="checkbox" checked data-toggle="toggle" data-width="100" data-height="75" name="published" id="published"> Published
                                    {{else}}
                                    <input type="checkbox" data-toggle="toggle" data-width="100" data-height="75" name="published" id="published"> Published
                                    {{/if}}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

            </fieldset>

            <hr />

            <input type="submit" class="btn btn-primary pull-right" value="Update" /><br /><br /><br />

        </form>
    </div>

</div>